<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>express-c template</title>
		<link rel="stylesheet" href="public/app.css">
	</head>
	<body>
		<div class="container">
			<h1>{{content}}</h1>
		</div>
	</body>
</html>
